#form-box {
  width: 500px;
  margin: auto;
  background: lavender;
  border-radius: 11px;
}

#spacingStyle {
  display: block;
  margin: 20px auto;
}
.second-column {
  height: 0.5em;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  height: 0.1em !important;
  padding: 0px;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select{
  height: 2em !important;
  padding: 0px;
}
#titulo{
  font-weight: 600;
  color: #DA077C;
}

#btn-color{
  width: 46% !important;
  border-radius: 20px;
  text-transform: inherit;
  font-weight: bold;
}

#btn-color:hover{
    color: white !important;
    background: #EC83BD!important;
    
}

#btn-color-wallet{
  border-radius: 20px;
  color: #DA077C !important;
    background: #DBDBEF!important;
    text-transform: inherit;
    font-weight: bold;
}

#btn-color-wallet:hover{
  border-radius: 20px;
  color: white !important;
    background: #EC83BD!important;
}

#colortitulo{
  color: #DA077C !important;
  font-family: sans-serif;
  margin-left: 48%;
}

.MuiBox-root .css-1kuevwo{
  width: 100% !important;
}
#newsletter{
  background:#EDEDF8 ;
  border-radius: 30px;
}

#btn-color-newsletter{
  border-radius: 20px;
  text-transform: inherit;
  font-weight: bold;
  color:white;
  background: #737373;
}

#btn-color-newsletter:hover{
  color: white !important;
  background: #EC83BD!important;
}
.Typography{
  margin: 6px;
}
#newsletter2{
  margin: inherit !important;
}

#entries{
  background:#EDEDF8 ;
  border-radius: 30px;
  color: #DA077C;
  font-weight: bold;
}