#form-box {
  width: 400px;
  margin: auto;
  background: #F5EAFC;
  border-radius: 11px;
}

#spacingStyle {
  display: block;
  margin: 20px auto;
}
.second-column {
  height: 0.5em;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  height: 0.1em !important;
  padding: 0px;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select{
  height: 2em !important;
  padding: 0px;
}
#titulo{
  font-weight: 600;
  color: #DA077C;
}

#btn-color{
  width: 46% !important;
  border-radius: 20px;
  text-transform: inherit;
  font-weight: bold;
}

#btn-color:hover{
    color: white !important;
    background: #EC83BD!important;
    
}

#btn-color-wallet{
  border-radius: 20px;
  color: #DA077C !important;
    background: #DBDBEF!important;
    text-transform: inherit;
    font-weight: bold;
}

#btn-color-wallet:hover{
  border-radius: 20px;
  color: white !important;
    background: #EC83BD!important;
}

#colortitulo{
  color: #DA077C !important;
  font-family: sans-serif;
  margin-left: 48%;
  
}

#colortituloP{
  color: #DA077C !important;
  font-family: sans-serif;
  margin-left: 700%;
 
}
a:link, a:visited, a:active {
  text-decoration:none;
}

.MuiBox-root .css-1kuevwo{
  width: 100% !important;
}
#newsletter{
  background:#EDEDF8 ;
  border-radius: 30px;
}

#btn-color-newsletter{
  border-radius: 20px;
  text-transform: inherit;
  font-weight: bold;
  color:white;
  background: #737373;
}

#btn-color-newsletter:hover{
  color: white !important;
  background: #EC83BD!important;
}
.Typography{
  margin: 6px;
}
#newsletter2{
  margin: inherit !important;
}

#entries{
  background:#EDEDF8 ;
  border-radius: 30px;
  color: #DA077C;
  font-weight: bold;
}

.css-e6h0mb-MuiCircularProgress-root,.css-176wh8e-MuiCircularProgress-circle {
  
  color: #fc5aac;}

  #btn-color-wallet2{
    border-radius: 20px;
    color: #DBDBEF!important; 
      background: #da077bb3 !important;
      text-transform: inherit;
      font-weight: bold;
  }
  
  #btn-color-wallet2:hover{
    color: #DA077C !important;
      background: #DBDBEF!important;
      text-transform: inherit;
      font-weight: bold;
  }
  .css-15y69v2-MuiPaper-root-MuiAlert-root .MuiAlert-icon {
    color: #DA077C;
}

#colortitulo2{
  color: #DA077C !important;
  font-family: sans-serif;
  margin-left: 12%;
  font-size: 1.8em;
}

#head6{
  color: #737373 !important;
  font-family: sans-serif;
  font-size: larger;
  
}

#btn-color-newsletter2{
  border-radius: 20px;
  text-transform: inherit;
  font-weight: bold;
  color:white;
  background: #B8B8DF;
  font-size: 18px;
  width: 16%;
  font-family: sans-serif;
}

#btn-color-newsletter2:hover{
  color: white !important;
  background: #EC83BD!important;
}

.css-ispfl3-MuiInputBase-root-MuiOutlinedInput-root{
  color:white !important;
  font-size: 22px !important;
  font-weight: bold !important;
  font-family: sans-serif !important;
  border-radius: 26px !important;
  border: 0px solid transparent !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color:white !important;
  font-size: 22px !important;
  font-weight: bold !important;
  font-family: sans-serif !important;
  border-radius: 26px !important;
  border: 0px solid transparent !important;
}

.css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input {
  color:white !important;
  font-size: 22px !important;
  font-weight: bold !important;
  font-family: sans-serif !important;
  border-radius: 26px !important;
  border: 0px solid transparent !important;
}